<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controle.usuario.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controle.usuario.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarClienteServlet</servlet-name>
        <servlet-class>controle.cliente.CadastrarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerClienteServlet</servlet-name>
        <servlet-class>controle.cliente.VerClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutoServlet</servlet-name>
        <servlet-class>controle.produto.ListarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoProdutoServlet</servlet-name>
        <servlet-class>controle.produto.NovoProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirProdutoServlet</servlet-name>
        <servlet-class>controle.produto.InserirProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarProdutoServlet</servlet-name>
        <servlet-class>controle.produto.AtualizarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverProdutoServlet</servlet-name>
        <servlet-class>controle.produto.RemoverProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarProdutoServlet</servlet-name>
        <servlet-class>controle.produto.MostrarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>controle.inicio.InicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverCadastroAdministradorServlet</servlet-name>
        <servlet-class>controle.cliente.RemoverCadastroAdministradorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerAdministradorServlet</servlet-name>
        <servlet-class>controle.administrador.VerAdministradorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverAdministradorServlet</servlet-name>
        <servlet-class>controle.administrador.RemoverAdministradorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarAdministradorServlet</servlet-name>
        <servlet-class>controle.administrador.AtualizarAdministradorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormAtualizarAdministrador</servlet-name>
        <servlet-class>controle.administrador.FormAtualizarAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverClienteServlet</servlet-name>
        <servlet-class>controle.cliente.RemoverClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormAtualizarClienteServlet</servlet-name>
        <servlet-class>controle.cliente.FormAtualizarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarClienteServlet</servlet-name>
        <servlet-class>controle.cliente.AtualizarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarProdutoCarrinhoServlet</servlet-name>
        <servlet-class>controle.carrinho.AdicionarProdutoCarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverProdutoCarrinhoServlet</servlet-name>
        <servlet-class>controle.carrinho.RemoverProdutoCarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprarProdutoServlet</servlet-name>
        <servlet-class>controle.compra.ComprarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EfetivarCompraCarrinhoServlet</servlet-name>
        <servlet-class>controle.compra.EfetivarCompraCarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioPedidoCompraServlet</servlet-name>
        <servlet-class>controle.compra.RelatorioPedidoCompraServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarClienteServlet</servlet-name>
        <url-pattern>/CadastrarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerClienteServlet</servlet-name>
        <url-pattern>/VerClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutoServlet</servlet-name>
        <url-pattern>/ListarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoProdutoServlet</servlet-name>
        <url-pattern>/NovoProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirProdutoServlet</servlet-name>
        <url-pattern>/InserirProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarProdutoServlet</servlet-name>
        <url-pattern>/AtualizarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverProdutoServlet</servlet-name>
        <url-pattern>/RemoverProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarProdutoServlet</servlet-name>
        <url-pattern>/MostrarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/InicioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverCadastroAdministradorServlet</servlet-name>
        <url-pattern>/RemoverCadastroAdministradorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerAdministradorServlet</servlet-name>
        <url-pattern>/VerAdministradorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverAdministradorServlet</servlet-name>
        <url-pattern>/RemoverAdministradorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarAdministradorServlet</servlet-name>
        <url-pattern>/AtualizarAdministradorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormAtualizarAdministrador</servlet-name>
        <url-pattern>/FormAtualizarAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverClienteServlet</servlet-name>
        <url-pattern>/RemoverClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormAtualizarClienteServlet</servlet-name>
        <url-pattern>/FormAtualizarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarClienteServlet</servlet-name>
        <url-pattern>/AtualizarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarProdutoCarrinhoServlet</servlet-name>
        <url-pattern>/AdicionarProdutoCarrinhoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverProdutoCarrinhoServlet</servlet-name>
        <url-pattern>/RemoverProdutoCarrinhoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprarProdutoServlet</servlet-name>
        <url-pattern>/ComprarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EfetivarCompraCarrinhoServlet</servlet-name>
        <url-pattern>/EfetivarCompraCarrinhoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioPedidoCompraServlet</servlet-name>
        <url-pattern>/RelatorioPedidoCompraServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>InicioServlet</welcome-file>
    </welcome-file-list>
</web-app>
